/* Portfolio body style */
body {
    background-image: linear-gradient(180deg, #546e7a 25%, white 95%);
}

.nav-wrapper {
    background-color: #37474f;
    box-shadow: 0 0 5px black;
}

.brand-logo {
    margin-left: 10px;
}

.card-panel {
    box-shadow: 0 0 20px;
    border-radius: 5px;
}

.card {
    background-color: #37474f;
    box-shadow: 0 0 10px;
    border-radius: 5px;
}

/* Header text color */
h1 {
    color: #525050;
}