/* About me body style */
body {
    background-color:#b5bfc9;
}

.nav-wrapper {
    background-color: #37474f;
}

.brand-logo {
    margin-left: 10px;
}

.card-panel {
    background-color: #FFFFF0;
}

.hover:hover {
    opacity: 75%;
}
/* About me text color */
h1 {
    color: #525050;
}

/* Font-size for about me text */
p {
    font-size: large;
}