/* About me body style */
body {
    background-image: linear-gradient(180deg, #546e7a 0%, white 95%);
}

.nav-wrapper {
    background-color: #37474f;
    box-shadow: 0 0 5px black;
}

.brand-logo {
    margin-left: 5px;
}

.card-panel {
    box-shadow: 0 0 20px;
    border-radius: 5px;
}

.image {
    float: left;
    margin: 15px;
}

.hover:hover {
    opacity: 75%;
}

/* About me text color */
h1 {
    color: #525050;
}

/* Font-size for about me text */
p {
    font-size: large;
}