/* About me body style */
body {
    background: radial-gradient(#546e7a, white);
}

.nav-wrapper {
    background-color: #37474f;
    box-shadow: 0 0 5px black;
}

.brand-logo {
    margin-left: 5px;
}

 .intro {
    text-align: center;
    color: transparent;
    animation-name: intro;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes intro {
    from {color: transparent;}
    to {color: #546e7a;}
  }

.card-panel {
    box-shadow: 0 0 20px;
    border-radius: 5px;
}

.image {
    float: left;
    margin: 15px;
}

.hover:hover {
    opacity: 75%;
}

/* About me text color */
h1 {
    color: #525050;
}

/* Font-size for about me text */
p {
    font-size: large;
}